@import url('https://fonts.cdnfonts.com/css/public-pixel');
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.mainContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.heroTypographyOne{
  font-size: 92px;
  font-family: 'Public Pixel', sans-serif;
  text-transform: uppercase;
}
.heroTypographyTwo{
  font-size: 48px;
  font-family: 'Public Pixel', sans-serif;
  text-transform: uppercase;
  letter-spacing: 33px;
  margin-top:20px;
} 
.gridContainer{
  display:flex;
  justify-content:center;
  width: 100%; 
}
.gridBlock{
  width:1024px;
  display:grid;
  grid-template-columns: 682.5984px 341.2992px;
}
.flexNews{
  display:flex;
  flex-direction: column;
}
/* .flexEvents{
  
} */
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/*Tablet */
@media (max-width: 1023px) {
  .mainContent{
    height: 350px
  }
  .heroTypographyOne{
    font-size: 36px;
    font-family: 'Public Pixel', sans-serif;
    text-transform: uppercase;
  }
  .heroTypographyTwo{
    font-size: 16px;
    font-family: 'Public Pixel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 21.9978px;
    margin-top:13.332px;
  } 
  .gridBlock{
    width:400px;
    display:grid;
    grid-template-columns: 266.64px 133.32px;
  }
}

/* Mobile */
@media (max-width: 479px) {
  .mainContent{
    height: 150px
  }
  .heroTypographyOne{
    font-size: 18px;
    font-family: 'Public Pixel', sans-serif;
    text-transform: uppercase;
  }
  .heroTypographyTwo{
    font-size: 8px;
    font-family: 'Public Pixel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10.9989px;
    margin-top:6.666px;
  } 
  .gridBlock{
    width:200px;
    display:grid;
    grid-template-columns: 133.32px 66.66px;
  }

}

/* DARK STYLE */
@media (prefers-color-scheme: dark) {

}